@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Black+Ops+One&family=DM+Serif+Text:ital@0;1&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

@theme inline {
    --animate-rotate: rotate 4s linear infinite;
}

@utility alfa {
  font-family: "Alfa Slab One", serif;
  font-weight: 800;
  font-style: normal;
}

@keyframes rotate {
    0% {
        scale: 0%;
        opacity: 1;
    }
    100% {
        scale: 500%;
        opacity: 0;
    }
}

@utility neumorphism {
    @apply shadow-[5px_5px_10px_hsla(0,50%,10%,0.2)_inset,-5px_-5px_10px_hsla(100,100%,100%,0.8)_inset];
}

@utility squircle {
    corner-shape:squircle;
}

@utility line-bg {
    @apply bg-[repeating-linear-gradient(45deg,#000_0px,#111_2px,#000_4px,#222_6px)];
}