@import 'tailwindcss';

@theme inline {
    --animate-toast: newtoast 2s linear forwards;
}

@keyframes newtoast {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@utility neumorphism {
    @apply shadow-[5px_5px_10px_hsla(0,50%,10%,0.2)_inset,-5px_-5px_10px_hsla(100,100%,100%,0.8)_inset];
}

@utility squircle {
    corner-shape:squircle;
}