@import 'tailwindcss';

@theme inline {
    --animate-rotate: rotate 4s linear infinite;
}

@keyframes rotate {
    0% {
        transform:rotate3d(1,0,1,0deg);
        filter: hue-rotate(0deg);
        
    }
    100% {
        transform: rotate3d(0,0,1,360deg);
        filter: hue-rotate(360deg);
    }
}

@utility neumorphism {
    @apply shadow-[5px_5px_10px_hsla(0,50%,10%,0.2)_inset,-5px_-5px_10px_hsla(100,100%,100%,0.8)_inset];
}

@utility squircle {
    corner-shape:squircle;
}